[user]
  email = george.veras.valentim@gmail.com
  name = George Véras Valentim
  signingkey = 54BFE1A33D71983B!
[core]
  editor = code --wait
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[commit]
  gpgsign = true
